
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>排行榜</title>
	<link rel="stylesheet" type="text/css" href="../css/hui.css" />
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/common.css">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/nan.css">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/index.css">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/book.css">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/qiehuan.css">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/mulu.css">
  	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  	<script type="text/javascript" src="https://img.xyxsc.com/front/kuaishu/js/jquery-1.8.3.min.js"></script>
  	<meta name="format-detection" content="telephone=no" />
	<style>
		.bg-color{
			background-color: #4696e6;
		}
	</style>
</head>
<body>
	<div class="zuijin">
		<span>最近阅读：暂未阅读</span>		
		<b>
			<a href="/user/chongzhi">充值</a>
		</b>
	</div>
	<div class="banner">
    <ul>
        <li><a href="../main.html"  >首页</a></li>
        <li><a href="paihang.html" class="banner-color">排行</a></li>
        <li><a href="/index/wanben/" >完本</a></li>
        <li><a href="/shuku/?site=1" >书库</a></li>
        <li><a href="/user/bookshelf" >书架</a></li>
    </ul>
</div>

	<!-- 导航结束 -->

	<div class="mulu-top container">
		<h5>这些都是牛逼的作品</h5>
	</div>

	<!-- 排行榜开始 -->
	<div class="qiehuan-wrap container mt-0">
		<ul>
			<li  style="border-right: 0px !important;"><a href="/top/?site=1&type=1" style="color:#4696e6;">订阅榜</a></li> 
			<li class="li-bg" ><a href="/top/?site=1&type=2" style="color:#fff;">收藏榜</a></li>
			<li  style="border-left: 0px !important;"><a href="/top/?site=1&type=3" style="color:#4696e6;">更新榜</a></li>
		</ul> 
		<div class="clear"></div> 
		<!-- 订阅 开始-->
		<div class="qiehuan-list" id="top_lists_d"> 
			<div class="book-one container">
				<a href="/book/?bookid=50000022">
					<div class="two-title">
						<span class="nan-bg">TOP2</span>
						<b class="nan-color">[都市]﻿乡野村情</b>
					</div>
					<p>简介：村里有个闲汉名叫张大雕，他偶然之间得到妇科医术传承，从此女人在他面在不再有任何秘密</p>
					<div class="au-num">
						<span class="banner-c zhuidu">追读：49969592人</span>
					</div>
					 
				</a>
			</div>
		</div> 
	</div>
	<div class="more container"><a href="javascript:void(0);" id="show_more" page="2" >查看更多</a></div>
	<!-- 客服信息开始 -->
	<div class="nav-bottom bottom-bg">
		<ul>
        	<li><a href="../main.html">首页</a></li>
        	<li><a href="paihang.html" class="bg-color">排行榜</a></li>
        	<li><a href="/index/wanben/">完本</a></li>
        	<li><a href="/shuku/?site=1">书库</a></li>
        	<li><a href="/user/bookshelf">书架</a></li>
		</ul>
	</div>
<div style="margin-top:22px;">
	<ul>
		<li>
			<a href="javascript:void(0);">
	    		<div class="hui-list-text">在线联系电话：18370940755</div>
	    	</a>
		</li>
		<li>
			<a href="jjavascript:void(0);">
	    		<div class="hui-list-text">在线客服QQ：275300091</div>
	    	</a>
		</li>
		<li>
			<a href="javascript:void(0);">
	    		<div class="hui-list-text">问题反馈邮箱：275300091@qq.com</div>
	    	</a>
		</li>
	</ul>
</div>
<div style="background:#FFFFFF; margin-top:28px;">
    <span type="button" class="hui-button hui-button-large" onclick="hui.toast('退出');">
    	鄂ICP备16023444号
   	</span>
</div>
</html>
