
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>二号红人</title>
  	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/common.css?t=308400">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/nan.css?t=308400">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/index.css?t=308400">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/book.css?t=308400">
	<link rel="stylesheet" href="../css/yuedu.css?t=308400">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/xiajia.css?t=308400">
	<link rel="stylesheet" href="https://img.xyxsc.com/front/kuaishu/css/remind.css?t=308400">
  	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  	<meta name="format-detection" content="telephone=no" />
  	<style>
  		.hui-list-text{
  			height: 30px;
  			margin-left: 10px;
  		}
  	</style>
</head>
<body class="">
		<div class="sc-mulu">
		<i></i>&gt<a onClick="book();" id="bname"></a> &gt <a href="mulu.html">章节目录</a>
	</div>
	<div class="sc-yuedu">
		<div class="yd-left">
			<h3 id="names"></h3>
			<p id="time"></p>
		</div>
		<div class="yd-right">
			<a onclick="up();">上一章</a>
			<a onclick="next();">下一章</a>
			<div>
				<span class="yejian_btn">夜</span>
				<span class="bigger">+A</span>
				<span class="smaller">-A</span>
			</div>
		</div>
	</div>
	<div class="yd-text" style="font-size:16px;color: #717171">
	</div>
		<div class="page">
		<a class="page-up" onclick="up();">上一章</a>
		<a href="mulu.html" class="page-main">返回目录</a>
		<a class="page-down" onclick="next();">下一章</a>
	</div>
	<div class="two-code">
  		<a href="https://zj.xyxsc.com/index/appdown">
			<img src="https://img.xyxsc.com/front/m/images/appdown_small1.png" alt="" style="width: 100%">
		</a>
	</div>
	<div class="qiehuan-list"> 
		<div class="xihuan container">
			<h3>这些也很有趣哦</h3>
		</div>
				<a href="/book/?bookid=2018925">
			<div class="book-two container "  >
				<div class="two-title">
					<b>[都市]那些年，我爱过的女人</b>
				</div>
				<p>女朋友跟我交往了五年，终于到了谈婚论嫁，可就在这时她告诉我怀孕了，但孩子却不是我的！</p>
				<span class="banner-c zhuidu">追读：60612695人</span> 
			</div>
			</a>
				<a href="/book/?bookid=2018913">
			<div class="book-two container "  >
				<div class="two-title">
					<b>[都市]我那不堪回首的家庭</b>
				</div>
				<p>我爸意外去世，谁知这老家伙在外面包养的小三找上门，竟然要分我家财产，还要我照顾她一辈子</p>
				<span class="banner-c zhuidu">追读：36838457人</span> 
			</div>
			</a>
				<a href="/book/?bookid=2014449">
			<div class="book-two container "  >
				<div class="two-title">
					<b>[都市]﻿妇科小村医</b>
				</div>
				<p>正在偷看村长和他媳妇做运动，谁知村长媳妇得了病，想要治好只能阴阳调和，刚好我是处男！</p>
				<span class="banner-c zhuidu">追读：72591451人</span> 
			</div>
			</a>
				<a href="/book/?bookid=2018922">
			<div class="book-two container "  >
				<div class="two-title">
					<b>[都市]另类保镖：美女总裁爱上我</b>
				</div>
				<p>一代兵王卸甲之后，为了挽救妹妹的生命，无奈之下卖身给女总裁当保镖，最终却抱得美人归</p>
				<span class="banner-c zhuidu">追读：67200571人</span> 
			</div>
			</a>
				<a href="/book/?bookid=2018923">
			<div class="book-two container  no-border"  >
				<div class="two-title">
					<b>[都市]超级领班</b>
				</div>
				<p>这是一个超级屌丝狗胆包天冒充高富帅的逆天神话，相信我，这里，有你们想看到的一切！</p>
				<span class="banner-c zhuidu">追读：19364371人</span> 
			</div>
			</a>
			</div> 

	<div class="remind" style="display: none">
	    <p>亲爱的读者：夜已深，请打开夜间阅读模式保护您的双眼。</p>
	    <span></span>
	</div>
	<!-- 客服信息开始 -->
	<div class="nav-bottom bottom-bg">
		<ul>
	    	<li><a href="../main.html">首页</a></li>
	    	<li><a href="paihang.html">排行榜</a></li>
	    	<li><a href="/index/wanben/">完本</a></li>
	    	<li><a href="shuku.html">书库</a></li>
	    	<li><a href="/user/bookshelf">书架</a></li>
		</ul>
	</div>
	<div style="margin-top:22px;">
		<ul class="">
			<li>
				<a href="javascript:void(0);">
		    		<div class="hui-list-text">在线联系电话：18370940755</div>
		    	</a>
			</li>
			<li>
				<a href="jjavascript:void(0);">
		    		<div class="hui-list-text">在线客服QQ：275300091</div>
		    	</a>
			</li>
			<li>
				<a href="javascript:void(0);">
		    		<div class="hui-list-text">问题反馈邮箱：275300091@qq.com</div>
		    	</a>
			</li>
		</ul>
		<p style="height: 40px;text-align: center;margin-top: 10px;">鄂ICP备16023444号</p>
		<input type="hidden" id="sid" />
	</div>
  </body>
<script type="text/javascript" src="../js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/hui.js" charset="UTF-8"></script>
<script>
	var sectionid = localStorage.getItem("section_id");
	var bookId = localStorage.getItem("bookid");
	hui.getJSON(
	    rootpath+'/booksSection/findBooksSectionSection/'+sectionid,
	    function(msg){
	    	console.log(msg);
	    	$(".yd-text").html(msg.content);
	    	$("#names").html(msg.name+"&nbsp;&nbsp;"+msg.title);
	    	$("#time").html(getDate(msg.publishTime)+"更新");
	    	$("#bname").html(msg.booksVo.name);
	    	$("#sid").val(msg.id);
	    },
	    function(e){
	        hui.iconToast('读取消息失败', 'warn');
	        console.log(e);
	    }
	);
	$(".yejian_btn").click(function(){
		var bodyName = document.body.className;
		if(!bodyName){
			document.body.className="yejian_body";
		}else{
			document.body.className="";
		}
	});
	$(".bigger").click(function(){
	    var ydSrcfont = $(".yd-text").css("font-size");
	    var fonts = ydSrcfont.slice(0,2); //获取单位
	    var font = parseInt(fonts);
	    if(font<20){
	    	font = parseInt(font)+2;
	    	$(".yd-text").css("font-size",font);
	    }else{
	    	$(".yd-text").css("font-size",20);
	    }
	});
	$(".smaller").click(function(){
	    var ydSrcfont = $(".yd-text").css("font-size");
	    var fonts = ydSrcfont.slice(0,2); //获取单位
	    var font = parseInt(fonts);
	    if(font>10){
	    	font = parseInt(font)-2;
	    	$(".yd-text").css("font-size",font);
	    }else{
	    	$(".yd-text").css("font-size",10);
	    }
	});
	function next(){
		hui.postJSON(
		    rootpath+'/booksSection/downList',
		    {
		    	bookId:bookId,
		    	sectionId:parseInt($("#sid").val())
		    },
		    function(msg){
		    	$(".yd-text").html(msg.content);
		    	$("#names").html(msg.name+"&nbsp;&nbsp;"+msg.title);
		    	$("#time").html(getDate(msg.publishTime)+"更新");
		    	$("#bname").html(msg.booksVo.name);
		    	$("#sid").val(msg.id);
		    },
		    function(e){
		        hui.iconToast('读取消息失败', 'warn');
		        console.log(e);
		    }
		);
		scroll(0,0);
	}
	function up(){
		hui.postJSON(
		    rootpath+'/booksSection/upList',
		    {
		    	bookId:bookId,
		    	sectionId:parseInt($("#sid").val())
		    },
		    function(msg){
		    	$(".yd-text").html(msg.content);
		    	$("#names").html(msg.name+"&nbsp;&nbsp;"+msg.title);
		    	$("#time").html(getDate(msg.publishTime)+"更新");
		    	$("#bname").html(msg.booksVo.name);
		    	$("#sid").val(msg.id);
		    },
		    function(e){
		        hui.iconToast('读取消息失败', 'warn');
		        console.log(e);
		    }
		);
		scroll(0,0);
	}
	function book(){
		location.href="bookInfo.html";
	}
</script>
</html>
